 <div class="container-fluid mt-5 about-style" id="serviceid">
    <div class="row">
        <div class="col-md-10 col-8 mx-auto">
            <h1 class ="text-center main-heading">Our Courses  </h1>
            <p class="text-center sub-heading">start learning with us</p>
            <center></center>
            <div class="container">
		<div class="row">
			<div class="col-lg-4 mb-4">
				<div class="card" style="width: 25rem; ">
  <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/306px-ISO_C%2B%2B_Logo.svg.png" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Learn to Code in C and C++,learning to code, debug, and solve complex problems with C and C++.

</p>
<center>
<a href="https://www.codingninjas.com/courses/c-plus-plus-data-structures-and-algorithms?nis=8" class="btn btn-primary">Enroll now</a>
  </center></div>
</div>
			</div>
			<div class="col-lg-5 mb-4">
				<div class="card" style="width: 28rem;">
  <img class="card-img-top" src="https://i.pinimg.com/originals/5b/84/0a/5b840ad4490f068c948ed451888afc89.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Learn Essential Programming Fundamentals. Master programming skills to solve complex problems.</p>
    <center>
 <a href="https://www.udemy.com/course/csharp-tutorial-for-beginners/?nis=8" class="btn btn-primary">Enroll now</a>
  </center>
  </div>
</div>
				</div>
                <div class="col-lg-2 mb-4">
				<div class="card" style="width: 27rem;">
  <img class="card-img-top" src="https://p.kindpng.com/picc/s/171-1718046_javascript-programming-language-logo-hd-png-download.png">
  <div class="card-body">
    <p class="card-text">Build Your Skills in JavaScript and jQuery. Start a journey to using JavaScript to become a programmer.</p>
    <center>
  <a href="https://www.udemy.com/topic/javascript/?nis=8" class="btn btn-primary">Enroll now</a>
  </center>
  </div>
</div>
				</div>
                
			</div>
		</div>
	</div>
            {{!-- <div class="row">
                <div class="col-10 mx-auto">
                    <div class="row gy-4">

                <div class="col-md-4 col-10 mx-auto">
                    <div class="card" style="display:inline-block" >
  <img class="card-img-top" src="https://w7.pngwing.com/pngs/46/626/png-transparent-c-logo-the-c-programming-language-computer-icons-computer-programming-source-code-programming-miscellaneous-template-blue.png" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <center></center>
  </div>
</div>
 <div class="card" style="display:inline-block" >
  <img class="card-img-top" src="https://w7.pngwing.com/pngs/46/626/png-transparent-c-logo-the-c-programming-language-computer-icons-computer-programming-source-code-programming-miscellaneous-template-blue.png" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <center></center>
  </div>
</div>
 <div class="card" style="display:inline-block"  >
  <img class="card-img-top" src="https://w7.pngwing.com/pngs/46/626/png-transparent-c-logo-the-c-programming-language-computer-icons-computer-programming-source-code-programming-miscellaneous-template-blue.png" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <center></center>
  </div>
</div>
 <div class="card" style="display:inline-block" >
  <img class="card-img-top" src="https://w7.pngwing.com/pngs/46/626/png-transparent-c-logo-the-c-programming-language-computer-icons-computer-programming-source-code-programming-miscellaneous-template-blue.png" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <center></center>
  </div>
</div> --}}
                    {{!-- <div class="box">
                        <div class="our-services settings">
                            <p> .</p>
                            <center></center>
                            <div class="icon">
                                <img src="https://imgur.com/h0oxKKq" alt="">
                                </div>
                                <h3 >C ++</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <p> .</p>
                            <center></center>
                            <div class="icon">
                                <img src="https://imgur.com/h0oxKKq" alt="">
                                </div>
                                <h3 >HTML</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <p> .</p>
                            <center></center>
                            <div class="icon">
                                <img src="https://imgur.com/h0oxKKq" alt="">
                                </div>
                                <h3 style="font-style:bold" >Java</h3>
                            </div>
                        </div>
                    </div> --}}
                    {{!-- <center><div class="col-md-4">
                    <a href="https://www.coursera.org/?nis=8">
                    <div class="box" >
                        
                        <div class="our-services settings">
                            <p> .</p>
                            <center></center>
                            <div class="icon">
                                <img src="https://imgur.com/h0oxKKq" alt="">
                                </div>
                                <h3 >Python</h3>
                            </div>
                        </div></a>
                    </div>
                    </center> --}}
                    
                {{!-- </div>
                </div>
        </div>
                </div>
                </div>
                </div> --}}
                
                

                


                